/*based on code from https://www.createwithdata.com/react-bar-chart */

body {
    font-family: "Lato", sans-serif;
    font-size: 16px;
}

.title {
    font-size: 1.4em;
    font-weight: 600;
    text-align: left;
    fill: black;
}

.bar-group .name-label {
    text-anchor: end;
    font-weight: 300;
    font-size: 1em;
    fill: darkslategrey;
}

.bar-group .value-label {
    text-anchor: end;
    fill: white;
    font-weight: 900;
    font-size: 0.7em;
}
div {
    right: auto;
}

/* Fade bars when the chart is hovered */
.container:hover .bar-group {
    opacity: 0.3;
}

/* But don't fade the hovered bar... */
.container .bar-group:hover {
    opacity: 1;
}

    .container .bar-group:hover .name-label {
        font-weight: 400;
    }

    .container .bar-group:hover .value-label {
        font-size: 0.8em;
    }
