th {
    background-color : blue;
    color: white;
    font-style: normal;
    font-family: sans-serif;
    font-size:x-large;
}

td {
    font-size: sans-serif;
}

tr {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}